.container{
    background: cornflowerblue;

    &__letra{
        font-size: 40px ;
        font-family:  Arial, "Helvetica Neuve", Helvetica,sans-serif;
        text-align: center;
        color: aliceblue;

    }
    &__parrafo{
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma,Geneva,Verdana,sans-serif;
        text-align: center;
        color: coral;

    }
}